body {
    margin: 0px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
     color: #c3b19d; 
}

nav {
    height: 80px;
    background-color: #f3c1bc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 20px 10px;
    font-weight: 550;
}

.title-Area {
    color: black;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: #f3c1bc;
}

.first-line {
    border-bottom: 1px solid white;
}

.second-line a {
    color: #808080;
    text-decoration: none;
}

@media screen and (max-width: 48rem) {
    .first-line {
        text-align: center;
    }    

    .second-line {
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid white;
    }    
}

.sub-title {
    color: white;
    font-weight: 800;
    margin: 10px 0px;
}
